<footer>
  <p>This page is created by
    <a href="mailto:{{meta.authorEmail}}">{{meta.authorName}}</a>.</p>
  <p>All text and content &copy; {{meta.authorName}}.</p>
  <p>This is version {{ pkg.version }} of this site and the source is available on
    <a href="{{ pkg.homepage }}">GitHub</a>.</p>
</footer>
