<footer class="footer">
  <div class="footer__container container">
    <p>This page is created by
      <a href="mailto:{{meta.author.email}}">{{meta.author.name}}</a>.</p>
    <p>All text and content &copy; {{meta.author.name}}.</p>
    <p>This is version {{ pkg.version }} of this site and the source is available on
      <a href="{{ pkg.homepage }}">GitHub</a>.</p>
  </div>
</footer>
