<section class="posts">
  <div class="posts__container">
    <h2>All posts</h2>
    <ul class="posts__inner">
      {% for post in collections.post %}
        <li class="post">
          <a class="post__link" href="{{ post.url }}">
            {% if post.data.date %}
              <p class="post__date">{{ post.data.date | formattedDate }}</p>
            {% endif %}
            <h3 class="post__title">{{ post.data.title }}</h3>
            {% if post.data.subtitle %}
              <p class="post__subtitle">{{ post.data.subtitle }}</p>
            {% endif %}
          </a>
        </li>
      {% endfor %}
      <a href="#" class="button">All posts -></a>
    </ul>
  </div>
</section>
