.footer {
  padding: 3.2rem 0;
  margin-top: 20rem;
  border-top: 1px solid rgba($color: white, $alpha: 0.2);
  text-align: center;
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.2rem;
    font-weight: 700;
    margin-bottom: 4.8rem;
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  &__logo-link,
  &__website-link,
  &__source-link {
    font-weight: 700;
    text-decoration: none;
  }

  @media screen and (min-width: 50rem) {
    &__nav,
    &__links {
      flex-direction: row;
    }
  }
}
