a {
  position: relative;
  display: inline;
  color: inherit;
  text-decoration: none;
  line-height: 1.4;
  z-index: 0;
  &::after {
    content: '';
    position: absolute;
    left: -0.2em;
    right: -0.2em;
    bottom: 0.1em;
    height: 0.4em;
    border-radius: 4px;
    z-index: -1;
    transition: 0.2s cubic-bezier(0.2, 0, 0.13, 1);
    background: #f2e8fb;
  }
  &:hover {
    &::after {
      height: calc(100% - 0.2em);
    }
  }
}
