---
layout: layouts/base.njk
title: Repos
---

<ul>
  {% for repo in repos %}
    <li>
      <a href="{{ repo.html_url }}">{{ repo.name }}</a>
      <p>{{ repo.description }}</p>
    </li>
  {% endfor %}
</ul>
