@import '../../node_modules/modularscale-sass/stylesheets/modularscale';

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

$modularscale: (
  base: 1.2rem,
  ratio: $fourth,
);

body {
  line-height: 1.7;
  font-family: 'Manrope', sans-serif;
  font-size: ms(0);
}

h1,
h2,
h3 {
  font-weight: 700;
  + p {
    margin-top: 0.8em;
  }
}

h1 {
  font-size: ms(3);
}

h2 {
  font-size: ms(2);
}

h3 {
  font-size: ms(1);
}

h1,
h2,
h3,
p {
  margin-top: 1.5em;
}
