@import '../../node_modules/modularscale-sass/stylesheets/modularscale';

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

$modularscale: (
  base: 16px,
  ratio: $fourth,
);

body {
  line-height: 1.5;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: ms(3);
}

h2 {
  font-size: ms(2);
}

h3 {
  font-size: ms(1);
}
